
.left{
    padding: 10px;
    float: left;
    
}
.right{
    padding: 10px;
    float: right;
}
.textfield{
    width: 700px;
}
.color{
    color: rgb(68, 97, 230);
}
 .filepond {
    width: 700px;
    margin-left: 27%;
    margin-top: 48px;
    border-color: grey;
    border-style: dotted;
    border-width: thick;
  }

/* .form{
    width: inherit;
    display: flex;
  flex-direction: column;
  padding: 3em;
  margin: 3em;
  align-items: center;
  justify-content: center;

} */